<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">


      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="name" class="control-label">Name</label>
        <input id="name" required type="text" class="form-control" name="name" [(ngModel)]="objEmployee.name"
          #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched">
          Full Name is required
        </span>
      </div>
      <!-- <table border=1 style="border-collapse:collapse; font-family:Arial; table-layout: fixed">
        <tr style="background-color:silver; font-weight: bold">
          <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
            <h4>Employee Form</h4>
          </td>
        </tr>
        <tr style="background-color:silver; font-weight: bold">
          <td style="padding:10px; white-space:nowrap; width:33%">
            <div>touched : {{ employeeForm.touched }}</div>
            <div>untouched : {{ employeeForm.untouched }}</div>
          </td>
          <td style="padding:10px; white-space:nowrap; width:33%">
            <div>pristine : {{ employeeForm.pristine }}</div>
            <div>dirty : {{ employeeForm.dirty }}</div>
          </td>
          <td style="padding:10px; white-space:nowrap; width:33%">
            <div>valid : {{ employeeForm.valid }}</div>
            <div>invalid : {{ employeeForm.invalid }}</div>
          </td>
        </tr>
      </table> -->

      <!-- <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input id="email" required email type="text" class="form-control" name="email"
                [(ngModel)]="objEmployee.email" #email="ngModel" [email]="objEmployee.Email!==''">
        <span class="help-block" *ngIf="email.errors?.required && email.touched">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.email && email.touched">
          Email is Invalid
        </span>
      </div> -->

      <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
        <label for="email" class="control-label">Email</label>
        <input id="email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="text"
          class="form-control" name="email" [(ngModel)]="objEmployee.email" #email="ngModel"
          [required]="contactPreference.value=='email'" />
        <span class="help-block" *ngIf="email.errors?.required && email.touched">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
          Email is Invalid
        </span>
      </div>

      <div class="form-group" [class.has-error]="phoneNumber.touched && phoneNumber.invalid"
        [class.has-success]="phoneNumber.valid">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input id="phoneNumber" [required]="contactPreference.value=='phone'" #phoneNumber="ngModel"
          class="form-control" type="text" name="phoneNumber" [(ngModel)]="objEmployee.phoneNumber">
        <span class="help-block" *ngIf="phoneNumber.errors?.required && phoneNumber.touched">
          Phone Number is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="contactPreference.touched && contactPreference.invalid"
        [class.has-success]="contactPreference.valid">
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required #contactPreference="ngModel" name="contactPreference" value="email"
              [(ngModel)]="objEmployee.contactPreference"> Email
          </label>
          <label class="radio-inline">
            <input type="radio" required #contactPreference="ngModel" name="contactPreference" value="phone"
              [(ngModel)]="objEmployee.contactPreference"> Phone
          </label>
        </div>
        <span class="help-block" *ngIf="contactPreference.touched && contactPreference.errors?.required">
          Contact Preference is required
        </span>

      </div>

      <div class="form-group" [class.has-error]="gender.touched && gender.invalid" [class.has-success]="gender.valid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel" value="Male" [(ngModel)]="objEmployee.gender">
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel" value="Female"
              [(ngModel)]="objEmployee.gender"> Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.touched && gender.errors?.required">
          Gender is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="isActive.invalid && isActive.touched">
        <div class="form-control">
          <label class="checkbox-inline control-label">
            <input type="checkbox" required name="isActive" #isActive="ngModel" [(ngModel)]="objEmployee.isActive"
              [required]="objEmployee.isActive==null">
            Is Active
          </label>
        </div>
        <span class="help-block" *ngIf="isActive.errors?.required && isActive.touched">
          Is Active is required
        </span>
      </div>
      
      <div class="form-group" [class.has-error]="department.touched && department.errors?.defaultSelected"
        [class.has-success]="department.valid">
        <label for="department">Department</label>
        <select id="department" name="department" [(ngModel)]="objEmployee.department" class="form-control"
          appSelectValidator='-1' #department="ngModel">
          <option [value]="-1">Select Department</option>
          <option *ngFor="let dept of departmentlist" [value]="dept.id">{{dept.name}}</option>
        </select>
        <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">Department is
          required</span>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="objEmployee.dateOfBirth" type="text"
          class="form-control" bsDatepicker [bsConfig]="datePickerConfig">
      </div>
      <div class="form-group">
        <label for="photoPath"> Photo Path</label>
        <input id="photoPath" type="text" class="form-control" name="photoPath" [(ngModel)]="objEmployee.photoPath">
      </div>
      <div class="form-group">
        <img [src]="objEmployee.photoPath" height="200" width="200" *ngIf="previewPhoto">
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="togglePhotoPreview()" type="button">{{previewPhoto ? "Hide " : "Show "}}
          Preview</button>
      </div>

      <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" appConfirmEqualValidator 
      [class.has-error]="passwordGroup.errors?.notEqual
      && !confirmPassword.errors?.required">

        <div class="form-group" [class.has-error]="password.touched && password.invalid">
          <label for="password" class="control-label">Password</label>
          <input name="password" required type="text" class="form-control" [(ngModel)]="objEmployee.password"
            #password="ngModel">
          <span class="help-block" *ngIf="password.touched && password.errors?.required">
            Password is required
          </span>
        </div>

        <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
          <label for="confirmPassword" class="control-label">Confirm Password</label>
          <input name="confirmPassword" required type="text" class="form-control" [(ngModel)]="objEmployee.confirmPassword"
            #confirmPassword="ngModel">
          <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
            Confirm Password is required
          </span>
          <span class="help-block" *ngIf="confirmPassword.touched &&
          passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">
            Password and Confirm Password does not match
          </span>
        </div>
      </div>


    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>