<!-- <h1 *ngIf="dataFromChild">
 {{ dataFromChild?.name + ' ' + dataFromChild?.gender }}
</h1> -->

<h1 #hrVariable>

</h1>
<div *ngFor="let emp of employees">
  <!-- <div (click)="hrVariable.innerHTML=childComponent.getNameAndGender()"> -->
  <div (click)="onClick(emp.id)" class="pointerCursor">
    <app-display-employee [objEmployee]="emp" #childComponent></app-display-employee>
  </div>

</div>

<!-- (displayNotify)="handleNotify($event)" -->



<!-- <button (click)="nextEmployee()" class="btn btn-primary">
  View Next Employee
</button>
<br/><br/>
  <app-display-employee [objEmployee]="employeeToDisplay"></app-display-employee> -->